<h2> Descripción</h2>
Soy estudiante de Ingenieria de Sistemas de la Universidad EAFIT,


<h2>Educación</h2>

<p>Colegio La Salle de Bello
    Terminado en 2006
</p>
<p>
    Universidad EAFIT
    Cursando actualmente 9 semestre
</p>

<h2> Experiencia Laboral</h2>
<p> Consultor de proyectos en la Universdad EAFIT</p>


