// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#right .github{

  width: 90%;
  padding: 10px 30px;
  margin-top: 50px;
  border-image: url("border.png")7 7 7 7 stretch;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1E8CBE), color-stop(1, #4E85D5));
  color: #ffffff;
  .teeth{
    background-image: url("teeth.png");
    width: calc(100% + 2px);
    width: -moz-calc(100% + 2px);
    width: -webkit-calc(100% + 2px);
    left: -1px;
    position: relative;
    bottom: -6px;
    height: 6px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: top;
    z-index: 1;

  }
}

#right .github {
    .info{
      border-bottom: #D2D2D2 solid 1px;
      margin-bottom: 40px;
    }
    .repo{
      border: #D2D2D2 solid 1px ;
      width: 250px;
      height: 250px;
      float: left;
      margin: 5px;
    }
}

.clean-gray{
  border:solid 1px #DEDEDE;
  background: #dcdcdc;
  color:#222222;
  padding:4px;
  text-align:center;
  position: fixed;
  z-index: 101;

}
#icons a {
  background-image: url("socialmedia_sprite.png");
  background-repeat: no-repeat;
  position: relative;
  height: 32px;
  width: 60px;
  display: block;
  float: left;
  margin-right: -1em;

}

#icons a.linkedin {
  background-position: 0px 0px;

}
#icons a.twitter {
  background-position: 0px -32px;
}

#icons a.google {
  background-position: 0px -64px;
}
#icons a.github {
  background-position: 0px -96px;
}
#icons a.email {
  background-position: 0px -160px;
}